.headerTextSection {
  text-align: center;
}

.headerTextSection > p {
  font-size: 18px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > p {
  max-width: 60%;
}

.featureGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 40px;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #e3e1ef;
  border-radius: 20px;
  padding: 30px;
}

.feature > img {
  width: 80%;
  margin: 0 auto;
  height: auto;
  scale: 1.4;
}

.feature > p {
  color: #8686a8;
  font-weight: 300;
}
